# Dependencias
node_modules/

# Archivos de configuración local
*.local

# Archivos subidos por los usuarios (Imágenes de Multer)
Backend/uploads/profiles/*
!Backend/uploads/profiles/.gitkeep
# Ignorar los archivos de docentes subidos, pero mantener el directorio
Backend/uploads/docentes/*
!Backend/uploads/docentes/.gitkeep

# Logs y Builds
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
